In [1]:
import pandas as pd
import numpy as np

In [2]:
#read the data
data = pd.read_csv('rain.csv')

In [3]:
data.columns

Index(['SUBDIVISION', 'YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb', 'Mar-May',
       'Jun-Sep', 'Oct-Dec'],
      dtype='object')

In [4]:
len(data.columns)

19

In [5]:
data.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [6]:
data.tail()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9,1533.7,7.9,196.2,1013.0,316.6
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4

In [7]:
#data from 1901-2015

In [8]:
data.columns

Index(['SUBDIVISION', 'YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb', 'Mar-May',
       'Jun-Sep', 'Oct-Dec'],
      dtype='object')

Redundant Columns - 'ANNUAL', 'Jan-Feb', 'Mar-May',
       'Jun-Sep', 'Oct-Dec'

In [9]:
#removing redundant columns
data = data.iloc[:,0:14]

In [10]:
data.isnull().any()

SUBDIVISION    False
YEAR           False
JAN             True
FEB             True
MAR             True
APR             True
MAY             True
JUN             True
JUL             True
AUG             True
SEP             True
OCT             True
NOV             True
DEC             True
dtype: bool

In [11]:
#removing null values
f = lambda ls: data[ls].fillna((data[ls].mean()))
ls = data.columns
data = f(ls)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 14 columns):
SUBDIVISION    4116 non-null object
YEAR           4116 non-null int64
JAN            4116 non-null float64
FEB            4116 non-null float64
MAR            4116 non-null float64
APR            4116 non-null float64
MAY            4116 non-null float64
JUN            4116 non-null float64
JUL            4116 non-null float64
AUG            4116 non-null float64
SEP            4116 non-null float64
OCT            4116 non-null float64
NOV            4116 non-null float64
DEC            4116 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 450.3+ KB

In [13]:
data.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
count,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000,4116.000000
mean,1958.218659,18.957320,21.805325,27.359197,43.127432,85.745417,230.234444,347.214334,290.263497,197.361922,95.507009,39.866163,18.870580
std,33.140898,33.569044,35.896396,46.925176,67.798192,123.189974,234.568120,269.310313,188.678707,135.309591,99.434452,68.593545,42.318098
min,1901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000
25%,1930.000000,0.600000,0.600000,1.000000,3.000000,8.600000,70.475000,175.900000,156.150000,100.600000,14.600000,0.700000,0.100000
50%,1958.000000,6.000000,6.700000,7.900000,15.700000,36.700000,138.900000,284.900000,259.500000,174.100000,65.750000,9.700000,3.100000
75%,1987.000000,22.125000,26.800000,31.225000,49.825000,96.825000,304.950000,418.225000,377.725000,265.725000,148.300000,45.825000,17.700000
max,2015.000000,583.700000,403.500000,605.600000,595.100000,1168.600000,1609.900000,2362.800000,1664.600000,1222.000000,948.300000,648.900000,617.500000

In [14]:
#Label Encoding the Subdivision
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
labels = data['SUBDIVISION'].unique()
le.fit(labels)
data['SUBDIVISION'] = le.transform(data['SUBDIVISION'])

In [15]:
data.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,0,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,0,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,0,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,0,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,0,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7

In [16]:
#delete Year
del data['YEAR']

In [17]:
data_cols = data.columns
df_cols = ['SUBDIVISION','MON1','MON2','MON3']
df = pd.DataFrame(columns=df_cols)
output=[]
def prepareDataset():
    df = pd.DataFrame(columns=df_cols)
    output=[]
    for i in range(0,len(data)):
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['JAN'][i],df_cols[2]:data['FEB'][i],df_cols[3]:data['MAR'][i]},ignore_index=True)
        output.append(data['APR'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['FEB'][i],df_cols[2]:data['MAR'][i],df_cols[3]:data['APR'][i]},ignore_index=True)
        output.append(data['MAY'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['MAR'][i],df_cols[2]:data['APR'][i],df_cols[3]:data['MAY'][i]},ignore_index=True)
        output.append(data['JUN'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['APR'][i],df_cols[2]:data['MAY'][i],df_cols[3]:data['JUN'][i]},ignore_index=True)
        output.append(data['JUL'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['MAY'][i],df_cols[2]:data['JUN'][i],df_cols[3]:data['JUL'][i]},ignore_index=True)
        output.append(data['AUG'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['JUN'][i],df_cols[2]:data['JUL'][i],df_cols[3]:data['AUG'][i]},ignore_index=True)
        output.append(data['SEP'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['JUL'][i],df_cols[2]:data['AUG'][i],df_cols[3]:data['SEP'][i]},ignore_index=True)
        output.append(data['OCT'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['AUG'][i],df_cols[2]:data['SEP'][i],df_cols[3]:data['OCT'][i]},ignore_index=True)
        output.append(data['NOV'][i])
        df = df.append({df_cols[0]:data['SUBDIVISION'][i],df_cols[1]:data['SEP'][i],df_cols[2]:data['OCT'][i],df_cols[3]:data['NOV'][i]},ignore_index=True)
        output.append(data['DEC'][i])
    return df,output

In [18]:
df,output=prepareDataset()

In [19]:
print(len(df))

37044

In [20]:
from sklearn.cross_validation import train_test_split

C:\Users\shiva\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(df, output, test_size=0.33, random_state=42)
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True,normalize=False)

In [22]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
pred = reg.predict(X_test)

In [24]:
from sklearn import metrics

In [25]:
from sklearn.metrics import r2_score

In [26]:
r2_score(y_test, pred)

0.46540495881150612

In [27]:
reg.predict([[0,0,1,235]])

array([ 281.66789383])

In [28]:
output[20]

479.89999999999998

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [169]:
regr = RandomForestRegressor(max_depth=25, random_state=2)

In [170]:
regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=25,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=2,
           verbose=0, warm_start=False)

In [171]:
pred = regr.predict(X_test)

In [172]:
r2_score(y_test, pred)

0.60737016894678519

In [34]:
from sklearn.tree import DecisionTreeRegressor

In [85]:
regressor = DecisionTreeRegressor(max_depth=11,max_features=4)

In [86]:
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=11, max_features=4,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [87]:
pred = regressor.predict(X_test)

In [88]:
r2_score(y_test, pred)

0.5290248758895193

In [39]:
import matplotlib.pyplot as plt

In [40]:
%matplotlib inline